doctype html
html
  head
    title 亲友圈
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css",rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css",rel="stylesheet")
    link(href="/stylesheets/style.css",rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    
    script(src="https://npmcdn.com/jquery@3.1.0/dist/jquery.min.js")
    script(src='/build/common.js')
  body
    block content